@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto";
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  color: #ffff;
  background: #31343c;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 0;
  margin-bottom: 5em;
}

.projTitle {
  font-family: roboto;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.projTitle span {
  font-family: roboto;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}

.heading {
  width: 100%;
  padding: 1em 0;
  display: flex;
  align-items: center;
}
.heading h1 {
  font-size: 4rem;
  float: left;
  width: 82%;
}
.heading a.continue:link,
.heading a.continue:visited {
  text-decoration: none;
  letter-spacing: -0.015em;
  font-size: 1.1rem;
  padding: 1em;
  color: #fff;
  background: #f6a821;
  font-weight: bold;
  border-radius: 0px;
  justify-self: flex-end;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.heading a.continue:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.heading a.continue:hover,
.heading a.continue:focus,
.heading a.continue:active {
  background: #f6a821;
}
.heading a.continue:hover:after,
.heading a.continue:focus:after,
.heading a.continue:active:after {
  right: -10px;
}

.tableHead {
  display: table;
  width: 100%;
  font-family: roboto;
  font-size: 0.75em;
}
.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}
.tableHead li.prodHeader {
  text-align: left;
}

.cart3 {
  padding: 0 !important;
  background: none;
}

.cart3 .cartWrap {
  padding: 0;
}

.cart3 .items {
  display: block;
  width: 100%;
  vertical-align: middle;
  background: #24262d;
  padding: 1.5em;
  border-bottom: 1px solid #838383;
}

.cart3 .items.even {
  background: #24262d;
}
.cart3 .items .infoWrap {
  display: table;
  width: 100%;
}
.cart3 .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}
.cart3 .items .cartSection .itemNumber {
  font-size: 0.75em;
  color: #777;
  margin-bottom: 0.5em;
}

.cart3 a,
.cart3 i {
  color: #fff;
  font-size: 1.5rem;
}

.cart3 .items .cartSection h3 {
  font-size: 1em;
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.cart3 .items .cartSection p {
  display: inline-block;
  color: #ffff;
  margin: 0.2rem 0;
  font-family: roboto;
  font-size: 1.6rem;
}
.cart3 .items .cartSection p .quantity {
  font-weight: bold;
  color: #f6a821;
}
.cart3 .items .cartSection p.stockStatus {
  color: #f6a821;
  font-weight: bold;
  padding: 0.5em 0 0 1em;
  text-transform: uppercase;
}
.cart3 .items .cartSection p.stockStatus.out {
  color: #777777;
}
.cart3 .items .cartSection .itemImg {
  width: 4em;
  float: left;
}
.cart3 .items .cartSection.qtyWrap,
.cart3 .items .cartSection.prodTotal {
  text-align: center;
}
.cart3 .items .cartSection.qtyWrap p,
.cart3 .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 2rem;
}
.cart3 .items .cartSection input.qty {
  width: 2rem;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem;
  /* margin: 1em 0.5em 0 0;*/
  margin-right: 1rem;
}
.cart3 .items .cartSection .itemImg {
  display: inline;
  padding-right: 1em;
  height: auto;
  width: 14rem;
  object-fit: cover;
}

.special {
  display: block;
  font-family: roboto;
}
.special .specialContent {
  padding: 1em 1em 0;
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #838383;
}
.special .specialContent:before {
  content: "\21b3";
  font-size: 1.5em;
  margin-right: 1em;
  color: #6f6f6f;
  font-family: roboto;
}

a.remove {
  text-decoration: none;
  font-family: roboto;
  color: #ffffff;
  font-weight: bold;
  background: #f6a821;
  padding: 0.5em;
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 0%;
  line-height: 0.6;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
a.remove:hover {
  background: #f30;
}

.promoCode {
  float: left;
  width: 75%;
  padding: 2%;
}
.promoCode label {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: -0.025em;
}
.promoCode input {
  width: 85%;
  font-size: 2rem;
  padding: 1.17rem;
  color: #fff;
  float: left;
  border: 1px solid #dadada;
}
.promoCode input:active,
.promoCode input:focus {
  outline: 0;
}
.promoCode a.btn {
  float: left;
  width: 15%;
  padding: 1.96rem 0;
  border-radius: 0 0em 0em 0;
  text-align: center;
  border: 1px solid #f6a821;
}
.promoCode a.btn:hover {
  border: 1px solid #f6a821;
  background: #f6a821;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-family: roboto;
  letter-spacing: -0.015em;
  font-size: 1.4rem;
  padding: 1.5rem 4rem;
  color: rgb(255, 255, 255);
  background: rgb(246, 168, 33);
  font-weight: bold;
  border-radius: 0px;
  float: right;
  text-align: right;
  transition: all 0.25s linear 0s;
}
.btn:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.btn:hover,
.btn:focus,
.btn:active {
  background: #f6a821;
}
.btn:hover:after,
.btn:focus:after,
.btn:active:after {
  right: -10px;
}
.promoCode .btn {
  font-size: 0.85em;
  padding: 0.5em 2em;
}

/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 35%;
}
.subtotal .totalRow {
  padding: 0.5em;
  text-align: right;
}
.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}
.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}
.subtotal .totalRow .label {
  font-family: roboto;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #777;
}
.subtotal .totalRow .value {
  letter-spacing: -0.025em;
  width: 35%;
  font-size: 2rem;
}

.program-description-list-title {
  font-size: 1.4rem !important;
  margin: 0;
}

.subfooter {
  display: flex;
  justify-content: space-between;
}

.subfooter .subtotal ul {
  padding: 0;
}

.date-event {
  font-size: 1.2rem;
}

.prod-mobile {
  display: none;
}

@media screen and (max-width: 425px) {
  html {
    font-size: 45%;
  }
  .heading h1 {
    font-size: 2.4rem;
  }

  .prod-mobile {
    display: block;
  }

  .heading a.continue:link,
  .heading a.continue:visited {
    width: 63%;
  }
  .cart3 .items .cartSection.prodTotal p {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 1rem;
  }
  .stockStatus,
  .date-event {
    display: block !important;
  }
  .subtotal ul {
    width: fit-content;
    width: -moz-fit-content;
  }
  .subfooter .subtotal {
    width: 100%;
  }
  .subtotal .totalRow .value,
  .subtotal .totalRow .label {
    padding: 0;
  }
  .subtotal .totalRow .value {
    margin-left: 1rem;
  }
}
