@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --secondary-color: #838383;
  --accent-color: #f4ae13;
  --accent-color-dark: #f4ae13;
  --button-background: #1d1d1d;
  --font-type-title: bold 4.2rem "Roboto";
  --margin: 1rem;
}

* {
  font-family: "Roboto";
}

.date-event button {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem 1.3rem;
  background: var(--accent-color);
  border: none;
  color: #fff;
  margin: 0 0.3rem;
}

.presention {
  flex-direction: column;
  margin-bottom: 0rem;
}

.day-selection {
  align-self: center;
  margin: 0;
}

.day-selection-input {
  margin: 0;
}

.program-box {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.program-day {
  color: var(--accent-color);
  margin-right: 2rem;
}

.program-room {
  margin-right: 2rem;
}

.speaker-img {
  display: flex;
}
.speaker-img img {
  height: 50px !important;
  width: auto;
}

.speaker-img img:first-child {
  margin-left: 0rem;
}

.speaker-img img {
  margin-left: 0.6rem;
}
.speaker-img img:last-child {
  margin-left: 0.6rem;
}

.program-box-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-description > button {
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 10rem;
  font-weight: 500;
  align-self: flex-end;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.button-description button {
  margin: 0;
}

body {
  background-color: #333;
}

.site-map {
  align-items: center;
  justify-content: space-between;
}
.site-map-list {
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar-holder {
  display: flex;
  align-items: center;
  width: 100%;
}

.site-map-item {
  padding: 1rem 2rem;
  background: var(--button-background);
  margin-right: 1rem;
}

.site-map-item a {
  font-size: 1.2rem;
  color: white;
}

.navbar-brand {
  margin-right: 4.2rem;
}

.user-info {
  width: max-content;
  color: white;
  justify-self: flex-end !important;
}

.user-info-map span {
  padding: 0.5rem 1rem;
  background: var(--button-background);
  color: white;
  margin-left: 0.7rem;
}

.user-info-map {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.user-info-item strong {
  font-size: 1.3rem;
}

.user-info-item {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.cart {
  margin-left: 1.2rem;
  padding: 0.8rem;
  background: var(--button-background);
}

.banner {
  grid-area: banner;
  width: 100%;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

.card-1 {
  height: auto;
  grid-area: card-1;
}

.card-2 {
  height: auto;
  grid-area: card-2;
  overflow: hidden;
}

.card-3 {
  height: auto;

  grid-area: card-3;
}

.card-4 {
  height: auto;
  grid-area: card-4;
}

.card-5 {
  height: auto;
  grid-area: card-5;
}
.card-6 {
  height: auto;
  grid-area: card-6;
}

.card-7 {
  height: auto;
  grid-area: card-7;
}

.card-8 {
  height: auto;
  grid-area: card-8;
}

.card-9 {
  height: auto;
  grid-area: card-9;
}

.card-10 {
  height: auto;
  grid-area: card-10;
}

.card-11 {
  height: auto;
  grid-area: card-11;
}

.card-12 {
  height: auto;
  grid-area: card-12;
}

.card-13 {
  height: auto;
  grid-area: card-13;
}

.card-14 {
  height: auto;
  grid-area: card-14;
}
.card-15 {
  height: auto;
  grid-area: card-15;
}

.card-16 {
  height: auto;
  grid-area: card-16;
}

.card-17 {
  height: auto;
  grid-area: card-17;
}

.card-18 {
  height: auto;
  grid-area: card-18;
}

.card-19 {
  height: auto;
  grid-area: card-19;
}

.card-20 {
  height: auto;
  grid-area: card-20;
}

.card-2v {
  height: auto;
  grid-area: card-2v;
}

.card-v1 {
  height: auto;
  grid-area: card-v1;
}

.card-v2 {
  height: auto;
  grid-area: card-v2;
}

.card-v3 {
  height: auto;
  grid-area: card-v3;
}
.card-v4 {
  height: auto;
  grid-area: card-v4;
}

.date-event {
  grid-area: date;
}
.date-event button {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.2rem 0.8rem;
  background: var(--accent-color);
  border: none;
  color: #fff;
  margin: 0 0.3rem;
}

.card-1g {
  height: auto;
  grid-area: card-1g;
}

.card-2g {
  height: auto;
  grid-area: card-2g;
}

.program {
  height: auto;
  padding: 2rem 1rem;
  padding-bottom: 5rem;
  grid-area: program;
  background-color: #141414;
}

.grid {
  margin: 2rem 0;
  padding: 0;
  gap: 2rem;
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "banner banner banner banner banner banner banner banner banner banner banner banner"
    "date date date date date date date date date date date date"
    "card-1g card-1g card-1g card-1g card-1g card-1g card-1g card-1g card-1g card-1g card-1g card-1g"
    "card-2g card-2g card-2g card-2g card-2g card-2g card-2g card-2g card-2g card-2g card-2g card-2g"
    "card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 program program program program"
    "card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 program program program program"
    "card-2 card-2 card-2 card-2 card-4 card-4 card-4 card-4 card-2v card-2v card-2v card-2v"
    "card-5 card-5 card-5 card-5 card-5 card-5 card-6 card-6 card-6 card-6 card-6 card-6"
    "card-7 card-7 card-7 card-7 card-7 card-7 card-8 card-8 card-8 card-8 card-8 card-8"
    "card-9 card-9 card-9 card-9 card-10 card-10 card-10 card-10 card-11 card-11 card-11 card-11"
    "card-12 card-12 card-12 card-12 card-13 card-13 card-13 card-13 card-14 card-14 card-14 card-14"
    "card-15 card-15 card-16 card-16 card-17 card-17 card-18 card-18 card-19 card-19 card-20 card-20"
    "card-v1 card-v1 card-v1 card-v2 card-v2 card-v2 card-v3 card-v3 card-v3 card-v4 card-v4 card-v4";
}

.title-holder {
  background: var(--accent-color);
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.date-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  background: #b9820b;
}

.date-card-small {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: bold;
  background: #b9820b;
}

.date-card p {
  margin: 0;
}

.date-card-small p {
  margin: 0;
}

.title-card {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
}

.hour-card {
  font-size: 1.3rem;
  justify-self: flex-start;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
}

.hour-card-small span {
  font-size: 1rem;
  justify-self: flex-start;
  text-transform: uppercase;
  font-weight: bold;
}

.title-card-p {
  justify-self: center;
  width: 100%;
  position: relative;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: auto;
}

.title-card-p-small {
  justify-self: center;
  width: 100%;
  position: relative;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.2rem;
  margin: auto;
}

.title-card-p-small-2 {
  justify-self: center;
  width: 100%;
  position: relative;
  padding: 0.5rem !important;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: auto;
}

.body-holder {
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.body-holder img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.details,
.details-price,
.details-g {
  display: flex;
  position: absolute;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.657);
  color: #fff;
  opacity: 0;
  pointer-events: none;
  justify-content: space-between;
  overflow-y: scroll;
  transition: all 0.5s;
  font-weight: bold;
}

.details-vertical {
  display: flex;
  justify-content: space-between;
}

.details-v {
  flex-direction: column;
  justify-content: flex-start;
}

.detail-icon {
  display: flex;
  margin-bottom: 1rem;
}

.detail-icon i {
  margin: 0.2rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: var(--accent-color);
}

.details-date-v {
  display: flex;
}

.date-date p {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}
.date-date-small p {
  margin: 0;
  font-size: 1rem;
}

.program-description-list-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--accent-color);
}

.program-description-list {
  width: 70%;
  justify-self: start;
}

.program-description-list {
  margin-left: 2rem;
}

.program-description-list p {
  margin-left: 2rem;
  padding-left: 3rem;
  border-left: 1px solid var(--accent-color);
  margin: 0rem;
  font-size: 1.2rem;
}

.program-description-list.vertical {
  width: 100%;
  padding-top: 2rem;
  margin: 0;
  margin-top: 1rem;
  border-top: 1px solid var(--accent-color);
}

.program-description-list.vertical > .program-description-list-title {
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
}

.program-description-list.vertical p {
  margin: 0rem;
  padding: 0rem;
  border: none;
  font-size: 1.2rem;
}

.program-description-list-small p {
  margin-left: 5rem;
  padding-left: 3rem;
  border-left: 1px solid var(--accent-color);
  margin: 0rem;
  font-size: 1rem;
}

.vertical-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.site-map-item a,
.site-map-item-btn a {
  font-size: 1rem;
  color: white;
}

.site-map-item-btn {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  background: var(--button-background);
  margin-right: 1rem;
  font-weight: 400;
}

.details.show,
.details-g.show,
.details-price.show {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s;
}

.lote-lote {
  margin-bottom: 1rem;
}

.program-hr {
  width: 100% !important;
  margin: 0;
  margin-left: 0 !important;
  border-top: 1px solid #fff;
}

.footer-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-footer i {
  margin-right: 1rem;
}

.btn-25 {
  width: 20.8%;
}

.button-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 24.8%;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem 0;
  color: white;
  cursor: pointer;
  background: var(--accent-color);
}
.button-footer.v {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 24.8%;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.2rem 0;
  color: white;
  cursor: pointer;
  background: var(--accent-color);
}

.button-footer button p {
  font-weight: 500;
}

.button-footer.v p {
  font-weight: 500;
  font-size: 1rem;
}

.button-footer-small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 49.8%;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.8rem;
  color: white;
  cursor: pointer;
  background: var(--accent-color);
}

.duo {
  width: 49.8% !important;
}

.button-footer-small i {
  margin-right: 1rem;
}

.button-footer-small p {
  margin: 0;
}

.button-footer-small-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.8rem;
  color: white;
  cursor: pointer;
  background: var(--accent-color);
}

.button-footer-small-3-g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 49.5%;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.8rem;
  color: white;
  cursor: pointer;
  background: var(--accent-color);
}

.button-footer-small-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 49.5%;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.8rem;
  color: white;
  cursor: pointer;
  background: var(--accent-color);
}

.button-footer i {
  color: white;
}

.button-footer p {
  margin: 0;
  font-size: 1.2rem;
}

.button-cart {
  width: 59%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.7rem 0;
  background: var(--accent-color);
}

.button-cart-small {
  font-size: 1rem;
  width: 59%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100%;
  font-weight: bold;
  padding: 0.65rem 0;
  text-transform: uppercase;
  background: var(--accent-color);
}

.button-cart p {
  font-size: 1.2rem;
  margin: 0;
}

.button-cart-small p {
  margin: 0;
}

.button-cart-small-2 p {
  font-size: 0.9rem;
  margin: 0;
}

.cart-title {
  display: flex;
  text-align: center;
}

.cart-title i {
  margin-right: 1rem;
}

.card-close-g,
.card-close,
.card-close2,
.card-close3 {
  width: fit-content;
  height: fit-content;
}
.card-close-g i,
.card-close i,
.card-close3 i,
.card-close2 i {
  cursor: pointer;
  color: var(--accent-color);
  font-size: 2rem;
}

.dashboard {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  color: var(--accent-color);
}

.dashboard i {
  width: 5rem;
  height: 5rem;
  padding: 1rem 1.6rem;
  border-radius: 3.5rem;
  font-size: 2.4rem;
  line-height: 1.33;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  color: #fff;
  -webkit-border-radius: 3.5rem;
  -moz-border-radius: 3.5rem;
  -ms-border-radius: 3.5rem;
  -o-border-radius: 3.5rem;
}

.dashboard p {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 1rem;
  font-weight: bold;
  color: #fff;
}

#hr-hr {
  width: 98%;
  border: 0.5px solid #ffffff41;
  margin-bottom: 2rem;
}

.user-count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  margin: 0 3rem;
}

.user-online,
.user-subscription {
  margin: 0 1rem;
  margin-bottom: 2rem;
}

.user-online,
.user-subscription {
  padding: 0rem 2rem;
  background-color: #24262d;
}

.user-online i,
.user-subscription i {
  color: var(--accent-color);
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.user-online h6,
.user-subscription h6 {
  font-size: 1.4rem;
  color: #fff;
}

.user-online p,
.user-subscription p {
  font-size: 1rem;
  color: #fff;
}

.search-bar {
  border: 1px solid #ffffff7e;
  width: fit-content;
  margin-bottom: 2rem;
}

.search-bar input {
  border: 0;
}

.search-bar input:focus,
.search-bar input:active {
  border: 0;
  color: #fff;
  outline: none;
}

.search-bar i {
  font-size: 1.4rem;
  color: #ffffff7e;
  transform: scaleX(-1);
  margin: 1rem;
}

.user-adm {
  background: #24262d;
  display: flex;
  color: #fff;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 0;
  margin-bottom: 10rem;
}

.user-title-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.div-1 {
  margin-right: 5rem;
}

.div-2 button {
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.user-title-title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.user-title-title p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.user-description-list {
  border-top: 1px solid #acacac;
  padding-top: 1rem;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.user-name-list {
  text-align: left;
}

.user-name-list h6 {
  font-size: 1.4rem;
}

.user-name-list p {
  font-size: 1.2rem;
}

.actions i {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
  margin: 0 0rem;
  margin-right: 0.4rem;
  background: #838383;
}

#menu-toggle {
  cursor: pointer;
}

.drop {
  display: flex;
  align-items: center;
}

.dropdown-user,
.dropdown-user-img {
  position: absolute;
  background: #0d0d0d;
  padding: 1rem;
  margin-top: 1.2rem;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  transform: translateY(-1.8rem);
  -webkit-transform: translateY(-1.8rem);
  -moz-transform: translateY(-1.8rem);
  -ms-transform: translateY(-1.8rem);
  -o-transform: translateY(-1.8rem);
  z-index: -1;
}

#img-drop {
  cursor: pointer;
  height: 4rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.dropdown-user.active-dropdown,
.dropdown-user-img.active-dropdown {
  z-index: -1;
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s;
  transform: translateY(0rem);
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  -o-transform: translateY(0rem);
}

.drop-user {
  position: relative;
}

.up-user {
  display: flex;
}

.room-title {
  font-size: 1.4rem;
  color: #fff;
  margin: 0;
}

.img-user {
  border-radius: 5rem;
  margin-right: 1rem;
}

.info-user {
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
}

.info-user-icon {
  padding: 0.6rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-user-icon i {
  color: var(--accent-color);
  font-size: 1.4rem;
  margin: 0;
}

.info-user-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-user-description h6 {
  margin: 0;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.info-user-description h6:hover {
  text-decoration: underline;
  cursor: pointer;
}

.exit-btn {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  background: var(--accent-color);
  border: none;
  width: auto;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.info-hr {
  width: 100%;
  border-top: 1px solid #fff;
}

button {
  outline: none !important;
}

.lotes p {
  font-weight: 400;
}
.lotes > p:first-child {
  font-weight: 700;
}

.lotes p span {
  font-weight: 400;
}

.lotes hr {
  width: 95%;
  margin: auto;
  border-top: 1px solid #fff;
  margin-left: 3rem;
}

.shopping-cart {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.shopping-cart p {
  font-weight: 400;
  font-style: italic;
}

.shopping-cart button {
  padding: 0;
  padding: 0.5rem 0.8rem;
  margin: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shopping-cart button i {
  font-size: 1.4rem;
  background: var(--accent-color);
}

.value-title {
  display: none !important;
  font-size: 0.8rem;
}

.value-btn {
  font-size: 1.2rem;
  font-weight: bold;
}

.program-sidenav::-webkit-scrollbar,
.program-sidenav.sidebar-active::-webkit-scrollbar {
  opacity: 0;
}

.program-sidenav {
  position: fixed;
  right: 0;
  height: 100vh;
  overflow-y: scroll;
  z-index: 55555;
  transition: all 0.5s;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.program-sidenav.sidebar-active {
  transform: translate(0);
  transition: all 0.5s;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.body-grid {
  margin: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.main-active {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.speaker-modal-modal img {
  margin-right: 2rem;
  width: 20%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--accent-color);
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: var(--accent-color);
}

.inputfile + label {
  cursor: pointer;
}

.value-title {
  display: none;
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .value-btn {
    padding: 1rem 0;
    font-size: 1.2rem;
  }
  .site-map {
    display: none;
  }

  html {
    font-size: 48%;
  }
  .grid {
    width: 90%;
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "banner banner banner banner"
      "date date date date"
      "card-1g card-1g card-1g card-1g"
      "card-2g card-2g card-2g card-2g"
      "card-1 card-1 card-1 card-1"
      "card-3 card-3 card-3 card-3"
      "card-2 card-2 card-4 card-4"
      "card-5 card-5 card-6 card-6"
      "card-7 card-7 card-8 card-8"
      "card-9 card-9 card-9 card-9"
      "card-10 card-10 card-11 card-11"
      "card-12 card-12 card-13 card-13"
      "card-14 card-14 card-15 card-15"
      "card-16 card-16 card-17 card-17 "
      "card-18 card-18 card-19 card-19"
      "card-20 card-20 card-20 card-20"
      "card-v1 card-v1 card-v2 card-v2"
      "card-v3 card-v3 card-v4 card-v4";
  }

  .price-buttons {
    flex-direction: column;
  }

  .user-info,
  .room {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 40%;
  }
  .grid {
    width: 90%;
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-areas:
      "banner"
      "date"
      "card-1g"
      "card-2g"
      "card-1"
      "card-2"
      "card-3"
      "card-4"
      "card-2v"
      "card-5"
      "card-6"
      "card-7"
      "card-8"
      "card-9"
      "card-10"
      "card-11"
      "card-12"
      "card-13"
      "card-14"
      "card-15"
      "card-16"
      "card-17"
      "card-18"
      "card-19"
      "card-20"
      "card-v1"
      "card-v2"
      "card-v3"
      "card-v4";
  }

  .price-buttons {
    flex-direction: column;
    padding: 0.1rem;
  }

  .user-info,
  .room {
    display: none;
  }
}

#body {
  position: relative;
}

#body.activeB {
  margin-left: 360px;
}

.sidenav-icon i {
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem;
  margin: 1rem;
  align-self: center;
  background: var(--button-background);
  cursor: pointer;
}
.sidenav-icon i {
  background: var(--accent-color);
  padding: 0.86rem 0.7rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.sidenav-wrapper {
  position: relative;
}

.sidenav-wrapper.activeSS {
  transition: all 0.5s;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

#toolbar {
  margin: 7rem 0;
  margin-bottom: 15rem;
  width: 56.4rem;
  padding-left: 2rem;
}

#toolbar .btn-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
