@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --secondary-color: #838383;
  --sidebar-background: #31343c;
  --accent-color: #f6a821;
  --accent-color-dark: #f4ad1334;
  --font-color: #43454d;
  --button-background: #1d1d1d;
  --font-type-title: bold 4.2rem "Roboto";
}

* {
  font-family: "Roboto";
}

body {
  background-color: #333;
}

.site-map {
  align-items: center;
  justify-content: space-between;
}
.site-map-list {
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar-holder {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
}

.site-map-item {
  padding: 1rem 2rem;
  background: var(--button-background);
  margin-right: 1rem;
}

.site-map-item-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  background: var(--button-background);
  margin-right: 1rem;
}

.site-map-item a,
.site-map-item-btn a {
  font-size: 1rem !important;
  color: white;
}

.navbar-brand {
  margin-right: 4.2rem;
}

.user-info {
  width: max-content;
  color: white;
  justify-self: flex-end !important;
}

.user-info-map span {
  padding: 0.8rem;
  background: var(--button-background);
  color: white;
  margin-left: 0.7rem;
}

.user-info-map {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.user-info-item strong {
  font-size: 1.3rem;
}

.user-info-item {
  font-size: 1.3rem;
  margin-left: 1.2rem;
}

.cart {
  color: #fff;
  padding: 0.8rem;
  background: var(--button-background);
}

.banner,
.banner-mobile {
  grid-area: banner;
  width: 100%;
}
.banners {
  grid-area: banners;
  width: 100%;
}

.banner img,
.banner-mobile img {
  width: 100%;
  object-fit: cover;
}

.banners img,
.banners-mobile img {
  width: 100%;
  object-fit: cover;
}

.video {
  width: 100%;
  grid-area: video;
}

.chat {
  width: 100%;
  grid-area: chat;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.program-desc {
  width: 100%;
  position: relative;
  height: 35rem;
  overflow-y: auto;
  grid-area: program;
  background: #292929;
  padding: 0.5rem 2rem;
  z-index: 0;
}

.files {
  background-color: rgb(255, 255, 255);
  grid-area: files;
  height: 35rem !important;
  padding: 2rem 3rem;
  overflow-y: scroll;
  text-align: center;
  width: 100%;
}

.nav-toggle {
  font-size: 4rem;
  color: white;
}

.grid {
  display: grid;
  margin: 2rem;
  height: auto;
  align-items: stretch;
  gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "banner banner banner banner banner banner banner banner banner banner banner banner"
    "video video video video video video video video chat chat chat chat"
    "banners banners banners banners banners banners banners banners banners banners banners banners"
    "program program program program program program program program files files files files";
}

@media screen and (max-width: 768px) {
  .grid {
    display: flex;
    gap: 4rem;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "banner-mobile"
      "video"
      "chat"
      "banners-mobile"
      "program"
      "files";
  }
  .site-map {
    display: none;
  }
  .menu {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

@media screen and (min-width: 778px) {
  .files,
  .chat {
    height: 100%;
  }
}

@media screen and (max-width: 425px) {
  .banner,
  .banners,
  .m9 {
    display: none;
  }
  .navbar-container {
    padding: 1rem 3rem;
  }
  .img-spotlight {
    margin-bottom: 0;
  }
  .audio-btn button {
    padding: 0.7rem 2rem !important;
  }
}
@media screen and (min-width: 426px) {
  .banner-mobile,
  .banners-mobile,
  .mobile-text-spotlight {
    display: none;
  }
}

.audio-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.room-audio {
  display: flex;
}

.room-audio button {
  margin: 0 1rem;
}
.room-audio button:first-child {
  margin-left: 0rem;
}

.audio-btn button {
  background: var(--accent-color);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.7rem 3rem;
  cursor: pointer;
}

.speaker-img {
  display: flex;
}

.file {
  display: flex;
  margin-top: 3rem;
}

.file-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.file-desc {
  text-align: left;
  flex-direction: column;
  display: flex;
}

.file-desc p {
  margin-bottom: 0;
  color: var(--secondary-color);
  font-size: 1.3rem;
}
.file-desc h6 {
  font-weight: bold;
  margin: 0;
  font-size: 1.4rem;
}
.file-div i {
  align-self: flex-end;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  background: var(--accent-color);
  cursor: pointer;
}
hr {
  width: 100%;
  border: 1px solid var(--secondary-color);
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.chat-title {
  display: flex;
  justify-content: space-between;
}
.chat-title i {
  font-size: 1.5rem;
  color: var(--secondary-color);
}
.chat-title h6 {
  font-size: 1.5rem;
}

.chat-input {
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
}

.chat-input input {
  width: 75%;
  padding: 0 1rem;
  border: none;
  outline-style: none;
  border-bottom: 1px solid var(--secondary-color);
}
.chat-input input::placeholder {
  padding: 0rem;
}

.chat-messages {
  padding: 2rem 0;
  height: 100%;
}

.chat-image {
  align-self: flex-start;
  object-fit: contain;
  margin-right: 1rem;
}

.chat-message {
  padding: 1rem;
  background-color: #333;
  color: white;
  width: 90%;
  display: flex;
  margin-bottom: 1rem;
}

.chat-message p {
  font-size: 1.2rem;
  margin: 0;
}

.message-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.received {
  align-self: flex-end;
  flex-direction: row-reverse;
  margin-left: auto;
  background: #757575;
}

.day-selection-input {
  margin: 0;
  margin-right: 1rem;
}

#sorteio h4 {
  color: var(--accent-color);
  font-size: 1.8rem;
  font-weight: bold;
  margin: 3rem 0;
}

.raffle {
  color: #fff;
  padding: 2rem 1rem;
  padding-bottom: 1rem;
  text-align: left;
  background-color: #24262d;
}

.raffle h2 {
  text-align: center;
  color: #757575;
  font-size: 1.5rem;
  font-weight: bold;
}

.raffle-item {
  margin: 0rem;
  padding-top: 0.5rem;
  border-top: 1px solid #acacac;
}

.raffle-item h6 {
  font-size: 1.4rem;
  margin: 0;
}

.raffle-item p {
  font-size: 1.2rem;
  margin: 0;
}

.raffle-buttons {
  margin: 2rem 0;
  width: 100%;
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.raffle-buttons button {
  background: var(--accent-color);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.7rem 3rem;
  cursor: pointer;
  margin: auto;
}

.raffle-buttons button {
  margin-right: 1rem;
}
.raffle-buttons button:first-of-type {
  margin: auto;
}

#fullscreen-button {
  margin: 0;
  background: transparent;
  position: absolute;
  right: 0;
}
#fullscreen-button span {
  font-size: 3rem;
}
/* 
#sorteio.expand {
  padding: 8rem 21rem;
}

#sorteio.expand td {
  font-size: 2rem;
}
#sorteio td {
  font-size: 2rem;
} */

html:-webkit-full-screen {
  background: #31343c !important;
}

html:-ms-fullscreen {
  background: #31343c !important;
}

html:fullscreen {
  background: #31343c !important;
}

button {
  outline: none;
}

.table-users {
  z-index: 1;
  max-height: 30rem !important;
  overflow-y: auto;
}

.table-users table {
  height: 100%;
}

.btn-tab {
  background: none;
  cursor: pointer;
}

.tablinks {
  color: var(--accent-color);
}
.tabcontent {
  display: none;
}

.actions {
  display: flex;
  justify-content: center;
}
.actions > button:last-of-type {
  margin-left: 1rem;
}

#ban button {
  position: relative;
  right: 0;
  background: var(--accent-color);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.7rem 2rem;
  cursor: pointer;
}

#ban .banner-upload-btn {
  margin-bottom: 10rem;
  display: flex;
  justify-content: flex-end;
}

.div-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  background-color: #1d1d1d;
  font-weight: bold;
  padding: 1rem;
}

.div-tabs p {
  margin: 0;
  margin: auto;
}

.user-description-list-new:first-child {
  margin-top: 1rem;
}
.user-description-list-new:last-child {
  border: none;
}
.user-description-list {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}
.user-description-list-new {
  border-bottom: 1px solid #acacac;
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-name-list {
  margin-right: 4rem;
}
.user-name-list:first-of-type {
  margin-top: -2px;
  margin-right: 0rem;
  width: fit-content;
}
.user-name-list h6,
.user-name-list p,
.user-name-list img {
  margin: 0;
}

.user-adm {
  align-items: center;
}

.actions i {
  font-size: 1rem;
  margin: 0;
}

.action-title-table {
  display: flex;
  justify-content: space-between;
}

.table-vt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.quiz {
  height: 100% !important;
  width: 50rem;
  z-index: 1;
  background-color: #1d1d1d;
  position: fixed;
  transition: all 0.5s;
  right: 0;
  padding: 2rem;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  overflow-y: scroll;
}

.quiz.activeQ {
  width: 50rem;
  transform: translateX(0%);
  transition: all 0.5s;
}

.quiz img {
  width: 120px;
  height: auto;
  margin: auto;
}

.icon-close {
  justify-self: unset;
  width: 100%;
  display: flex;
  height: fit-content;
  position: relative;
  right: 0;
  justify-content: flex-end;
}

.icon-close i {
  font-size: 2rem;
  color: var(--accent-color);
  cursor: pointer;
}
.image-quiz {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 0rem;
}

.quiz-quiz h4 {
  margin-bottom: 3rem;
}

.quiz-quiz p {
  font-size: 1.2rem;
}

.quiz-quiz {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding-bottom: 10rem;
}

.quiz-quiz button {
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  padding: 0.5rem 4rem;
  width: fit-content;
  cursor: pointer;
}

.room-dropdown {
  position: relative;
}

.room-dropdown ul,
.audio-list {
  position: absolute;
  pointer-events: none;
  width: 100%;
  opacity: 0;
  padding: 1rem 0;
  display: flex;
  margin-top: 1.9rem;
  flex-direction: column;
  align-items: center;
  background-color: #0d0d0d;
  transition: all 0.5s;
  transform: translateY(-1rem);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
}

.room-dropdown ul li {
  margin-bottom: 1rem;
}
.room-dropdown ul li:last-child {
  margin-bottom: 0rem;
}

.room-dropdown ul li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}

.room-dropdown ul li a:hover {
  text-decoration: underline;
}

.room-dropdown.active-dropdown ul {
  transition: all 0.5s;
  pointer-events: all;
  opacity: 1;
  transform: translateY(0rem);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  -o-transform: translateY(0rem);
}

#room-dropdown {
  width: 100%;
}

#room-dropdown ul {
  background: #0d0d0d;
}

.audio-list li a {
  font-size: 2rem;
}

.hide {
  display: none !important;
}

.btn-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-quiz h4 {
  margin: 1rem;
}

#question {
  width: 90%;
  margin: auto;
  font-size: 1.4rem;
  line-height: initial;
}

.question-img {
  margin: 1rem 0;
}

.btn-answer {
  padding: 0.5rem 1rem !important;
  width: 80% !important;
  display: flex;
  align-items: center;
  margin: 0 !important;
  margin-bottom: 0.5rem !important;
  position: relative;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.btn-answer:hover,
#next-btn:hover {
  transition: all 0.2s;
  background: #7c0303;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.btn-answer.active-btn {
  transition: all 0.2s;
  background: #157c03;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.answer-letter {
  height: 100%;
  font-size: 1.2rem;
  margin: 0;
  padding-right: 1rem;
}
.circle-chart__info text {
  color: #f00 !important;
}

.answer-text {
  border-left: 1px solid #1d1d1d;
  width: 90%;
  margin: auto;
  font-size: 1.2rem;
  text-transform: none;
  font-weight: 400;
}

#quiz-ranking,
#quiz-btn-close,
#next-btn,
#quiz-close-btn,
#quiz-btn-close2,
#quiz-start-btn {
  background: var(--accent-color);
  border: none;
  width: 10rem;
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
}

#next-btn {
  margin-top: 0rem;
}

#quiz-close-btn,
#quiz-start-btn {
  margin: auto;
}

#main {
  transition: all 0.2s;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
#main.ops {
  transition: all 0.2s;
  filter: brightness(20%);
  -webkit-filter: brightness(20%);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

#timer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.next-btn-div {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.sidesss {
  width: fit-content;
}

.path--background {
  fill: var(--accent-color);
  stroke: #fff;
  stroke-width: 0px;
}

.pulse {
  fill: rgb(255, 74, 74) !important;
}

.path--foreground {
  fill: #eee;
  stroke: #eee;
  stroke-width: 0px;
}

.label {
  font: 15px "Roboto";
  font-weight: 500;
  text-anchor: middle;
  fill: var(--accent-color);
}

text .label .pulse {
  display: flex;
  align-items: center;
  justify-content: center;
}

#animated {
  transform: scale(0.75);
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
}

.progress-div {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.progress {
  width: 10rem;
  height: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.pie2,
.pie3,
.pie4,
.pie5,
.pie6,
.pie7 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content !important;
  margin: 0;
}
.pie2 > svg,
.pie3 > svg,
.pie4 > svg,
.pie5 > svg,
.pie6 > svg,
.pie7 > svg {
  height: 5rem !important;
  width: auto;
}

.pie2-percent-undefined,
.pie3-percent-undefined,
.pie4-percent-undefined,
.pie5-percent-undefined,
.pie6-percent-undefined,
.pie7-percent-undefined {
  font-size: 2.4rem;
  font-weight: bolder;
}

caption {
  caption-side: top;
  width: 100%;
  background: #24262d !important;
  color: #fff;
  padding: 0;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.caption-table {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  position: relative;
}
.caption-table p {
  margin: 0;
  font-weight: bold;
}

.caption-table span {
  justify-self: center;
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  left: 40%;
  right: 60%;
}

.img-table {
  border-radius: 5rem;
  width: 40px !important;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
td,
th {
  height: fit-content !important;
  width: fit-content;
  transition: all 0.5s;
  vertical-align: middle !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
td > h6 {
  margin: 0 !important;
}
tr {
  transition: all 0.5s;
  background: #24262d;
  z-index: 1;
}

.first-table-row {
  background: #393c44 !important;
}

.line-color {
  background: #30333b !important;
}
.line-color2 {
  background: #393d45 !important;
}

tr:hover {
  transition: all 0.5s;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.no-effect tr:hover {
  transition: all 0.5s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.banner-active {
  background: var(--accent-color-dark);
}

.tab-title {
  color: var(--secondary-color);
}

#timeline-content {
  margin-top: 4rem;
  text-align: center;
}

#program-title {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
  color: #fff;
}
.time-line {
  display: flex;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.time-line .image {
  padding: 1em 2em;
}

.time-line .image > div {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
}

.time-line .image > div::after {
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 2px solid #f4ae13;
  position: absolute;
  top: 2.75em;
  left: 6.5em;
  z-index: -1;
}

.time-line .image img {
  border-radius: 50%;
  height: 6rem;
  margin-top: -1rem;
  z-index: 1;
  border: 2px solid #f4ae13;
}

.time-line .image span {
  display: block;
  clear: both;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.3em 0.5rem;
  margin: 0.5em 0;
  margin-top: -0.5rem;
  margin-right: 1rem;
  background: #393b45;
}

.time-line .details-timeline {
  position: relative;
}

.time-line .details-timeline > div {
  border: 2px solid #f4ae13;
  border-radius: 0em;
  background: #393b45;
  padding: 0.5rem 1.5em;
  margin: 0.3rem 0;
}

.title-button {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.title-button button {
  background: var(--accent-color);
  border: none;
  color: white;
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 2rem;
  text-transform: uppercase;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
}

.time-line .details-timeline > div > .title-button > h1 {
  color: #ffffff;
  font-size: 1.4em;
  margin: 0;
  padding: 0 0 0.2em 0;
  letter-spacing: 0.1em;
}
.time-line .details-timeline > div > h4 {
  color: #ffffff;
  font-size: 1.1em;
  margin: 0;
  padding: 0 0 0.5em 0;
  letter-spacing: 0.1em;
}

.time-line .details-timeline > div > p {
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 100%;
}

.time-line .details-timeline::before {
  content: "";
  width: 0;
  height: 100%;
  border-left: 2px solid var(--accent-color);
  position: absolute;
  top: 0;
  left: -5.1rem;
  z-index: -1;
}

.me {
  background-color: var(--accent-color-dark);
}
