@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --secondary-color: #838383;
  --accent-color: #f4ae13;
  --accent-color-dark: #f4ae13;
  --button-background: #1d1d1d;
  --font-type-title: bold 4.2rem "Roboto";
}

* {
  font-family: "Roboto";
}

body {
  background-color: #333;
}

.site-map {
  align-items: center;
  justify-content: space-between;
}
.site-map-list {
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar-holder {
  display: flex;
  align-items: center;
  width: 100%;
}

.site-map-item {
  padding: 1rem 2rem;
  background: var(--button-background);
  margin-right: 1rem;
}

.site-map-item-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  background: var(--button-background);
  margin-right: 1rem;
}

.site-map-item a,
.site-map-item-btn a {
  font-size: 1rem !important;
  color: white;
}

.navbar-brand {
  margin-right: 4.2rem;
}

.user-info {
  width: max-content;
  color: white;
  justify-self: flex-end !important;
}

.user-info-map span {
  padding: 0.8rem 1.2rem;
  background: var(--button-background);
  color: white;
  margin-left: 0.7rem;
}

.user-info-map {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.user-info-item strong {
  font-size: 1.3rem;
}

.user-info-item {
  font-size: 1.3rem;
  margin-left: 1.2rem;
}

.cart {
  padding: 0.8rem;
  background: var(--button-background);
}

.banner {
  grid-area: banner;
  width: 100%;
}
.banners {
  grid-area: banners;
  width: 100%;
}

.banner img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.banners img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.video {
  width: 100%;
  grid-area: video;
}

.chat {
  width: 100%;
  grid-area: chat;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.program-desc {
  background-color: rgb(20, 20, 20);
  padding: 2rem;
  overflow-y: scroll;
  height: auto;
  grid-area: program;
}

.files {
  background-color: rgb(255, 255, 255);
  grid-area: files;
  padding: 2rem 3rem;
  overflow-y: scroll;
  text-align: center;
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  margin: 2rem;
  height: auto;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "banner banner banner banner banner banner banner banner banner banner banner banner"
    "video video video video video video video video chat chat chat chat"
    "banners banners banners banners banners banners banners banners banners banners banners banners"
    "program program program program program program program program files files files files";
}

@media screen and (max-width: 768px) {
  .grid {
    display: flex;
    gap: 4rem;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "banner"
      "video"
      "chat"
      "banners"
      "program"
      "files";
  }
  .site-map {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

@media screen and (min-width: 778px) {
  .files,
  .chat {
    height: 100%;
  }
}

.audio-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.audio-btn button {
  background: var(--accent-color);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.7rem 3rem;
  cursor: pointer;
}

.speaker-img {
  display: flex;
}

.file {
  display: flex;
  margin-top: 3rem;
}

.file-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.file-desc {
  text-align: left;
  flex-direction: column;
  display: flex;
}

.file-desc p {
  margin-bottom: 0;
  color: var(--secondary-color);
  font-size: 1.3rem;
}
.file-desc h6 {
  font-weight: bold;
  margin: 0;
  font-size: 1.4rem;
}
.file-div i {
  align-self: flex-end;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  background: var(--accent-color);
  cursor: pointer;
}
hr {
  width: 100%;
  border: 1px solid var(--secondary-color);
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.chat-title {
  display: flex;
  justify-content: space-between;
}
.chat-title i {
  font-size: 1.5rem;
  color: var(--secondary-color);
}
.chat-title h6 {
  font-size: 1.5rem;
}

.chat-input {
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
}

.chat-input input {
  width: 75%;
  padding: 0 1rem;
  border: none;
  outline-style: none;
  border-bottom: 1px solid var(--secondary-color);
}
.chat-input input::placeholder {
  padding: 0rem;
}

.chat-messages {
  padding: 2rem 0;
  height: 100%;
}

.chat-image {
  align-self: flex-start;
  object-fit: contain;
  margin-right: 1rem;
}

.chat-message {
  padding: 1rem;
  background-color: #333;
  color: white;
  width: 90%;
  display: flex;
  margin-bottom: 1rem;
}

.chat-message p {
  font-size: 1.2rem;
  margin: 0;
}

.message-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.received {
  align-self: flex-end;
  flex-direction: row-reverse;
  margin-left: auto;
  background: #757575;
}

.day-selection-input {
  margin: 0;
  margin-right: 1rem;
}

button {
  outline: none;
}

.btn-tab {
  background: none;
  cursor: pointer;
}

.tablinks {
  color: var(--accent-color);
}
.tabcontent {
  display: none;
}

.div-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  background-color: #1d1d1d;
  font-weight: bold;
  padding: 1rem;
}

.div-tabs p {
  margin: 0;
  margin: auto;
}

.user-description-list-new:first-child {
  margin-top: 1rem;
}
.user-description-list-new:last-child {
  border: none;
}
.user-description-list {
  border-bottom: 1px solid #acacac;
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  align-items: center;

  justify-content: space-between;
}
.user-description-list-new {
  border-bottom: 1px solid #acacac;
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-name-list {
  margin-right: 4rem;
}
.user-name-list:first-of-type {
  margin-top: -2px;
  margin-right: 0rem;
  width: fit-content;
}
.user-name-list h6,
.user-name-list p,
.user-name-list img {
  margin: 0;
}

.user-adm {
  align-items: center;
}

.actions i {
  font-size: 1rem;
  padding: 0.5rem;
}

.quiz {
  height: 100%;
  width: 300px;
  background-color: #1d1d1d;
  position: fixed;
  transition: all 0.5s;
  right: 0;
  padding: 2rem;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.quiz.activeQ {
  transform: translateX(0%);
  transition: all 0.5s;
}

.quiz img {
  width: 120px;
  height: 60px;
  margin: auto;
}

.icon-close {
  justify-self: unset;
  width: 100%;
  display: flex;
  height: fit-content;
  position: relative;
  right: 0;
  justify-content: flex-end;
}

.icon-close i {
  font-size: 2rem;
  color: var(--accent-color);
  cursor: pointer;
}
.image-quiz {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.quiz-quiz h4 {
  margin-bottom: 3rem;
}
.quiz-quiz p {
  font-size: 1.2rem;
}
.quiz-quiz {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.quiz-quiz button {
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  padding: 0.5rem 4rem;
  width: fit-content;
  cursor: pointer;
}
