@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  --secondary-color: #838383;
  --accent-color: #f4ae13;
  --accent-color-dark: #f4ae13;
  --font-type-title: bold 4.2rem "Open Sans";
}

* {
  font-family: "Open Sans";
}

.banner {
  width: 100%;
  margin-top: -5px;
  height: 514px;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

.counter-section {
  width: 100%;
  height: 27rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w60 {
  width: 60%;
}
.w50 {
  width: 50%;
}
.w45 {
  width: 50%;
}

.p-1 {
  padding-right: 1rem !important;
}
.w40 {
  width: 40%;
}
.headline {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 7px;
  font-weight: 300;
  color: var(--secondary-color);
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.title {
  margin: 0;
  text-transform: uppercase;
  font: var(--font-type-title);
}

.spaced {
  margin-top: 6rem !important;
}

.count-holder {
  display: flex;

  align-self: center;
  justify-self: flex-start;
}

.count {
  padding-left: 3rem;
  border-left: 1px var(--secondary-color) solid;
  margin-right: 3rem;
}

.number {
  font-weight: bold;
  font-size: 3.7rem;
  color: var(--accent-color);
}
.number-description {
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hr {
  margin: 0;
  width: 8rem;
  margin-bottom: 1rem;
  border: 1px solid var(--accent-color);
}

.headline-text-light {
  font-weight: 200;
  margin-top: 0;
  font-size: 1.5rem;
}

.headline-text {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.headline-hero {
  width: 100%;
  color: white;
  justify-self: flex-start;
}
.headline-hero-dark {
  width: 100%;
  color: rgb(0, 0, 0);
  justify-self: flex-start;
}
.text-dark {
  color: black !important;
}

.headline-title {
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}

.carousel {
  display: flex;
}

.card {
  width: 100%;
  margin: 0 1rem;
  width: 28.8rem;
  height: 40.7rem;
  background: #838383;
}

.paralax {
  color: white;
  background-image: url(../img/banner.png);
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.paralax-text {
  margin-right: 1rem;
}
.paralax-text p {
  text-align: end;
  font-weight: 600;
  font-size: 1.5rem;
}
.paralax-title {
  margin-left: 0.5rem;
}
.paralax-title h6,
.paralax-title h3 {
  margin: 0;
}

.description-title-title {
  font-weight: bold;
  font-size: 2.2rem;
}

.description-title-accent {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--accent-color);
}

..description-text {
}
