@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --secondary-color: #838383;
  --accent-color: #f4ae13;
  --accent-color-dark: #f4ae13;
  --font-type-title: bold 4.2rem "Roboto";
}

* {
  font-family: "Roboto";
}

.banner {
  width: 100%;
  margin-top: -5px;
  height: 514px;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

.counter-section {
  width: 100%;
  height: 27rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w60 {
  width: 60%;
}
.w50 {
  width: 50%;
}
.w45 {
  width: 50%;
}

.p-1 {
  padding-right: 1rem !important;
}
.w40 {
  width: 40%;
}
.headline {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  letter-spacing: 7px;
  font-weight: 300;
  color: var(--secondary-color);
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.title {
  margin: 0;
  text-transform: uppercase;
  font: var(--font-type-title);
}

.spaced {
  margin-top: 6rem !important;
}

.count-holder {
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.count {
  padding-left: 3rem;
  border-left: 1px var(--secondary-color) solid;
  margin-right: 3rem;
}

.number {
  font-weight: bold;
  font-size: 3.7rem;
  color: var(--accent-color);
}
.number-description {
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hr {
  margin: 0;
  width: 8rem;
  margin-bottom: 1rem;
  border: 1px solid var(--accent-color);
}

.headline-text-light {
  font-weight: 200;
  margin-top: 0;
  font-size: 1.5rem;
}

.headline-text {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.headline-hero {
  width: 100%;
  color: white;
  justify-self: flex-start;
}
.headline-hero-dark {
  width: 100%;
  color: rgb(0, 0, 0);
  justify-self: flex-start;
}
.text-dark {
  color: black !important;
}

.headline-title {
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}

.carousel {
  display: flex;
}

.card {
  width: 100%;
  margin: 0 1rem;
  width: 28.8rem;
  height: 40.7rem;
  background: #838383;
}

.paralax {
  color: white;
  background-color: #0d0d0d;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.paralax-text {
  margin-right: 1rem;
}
.paralax-text p {
  text-align: end;
  font-weight: 600;
  font-size: 1.5rem;
}
.paralax-title {
  margin-left: 0.5rem;
}
.paralax-title h6,
.paralax-title h3 {
  margin: 0;
}

.description-title-title {
  font-weight: bold;
  font-size: 2.2rem;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.description-title-accent {
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 3.8rem;
}

.description-text p {
  text-align: start;
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin: 0;
  width: 80%;
  margin-bottom: 3.8rem;
}

.clock,
.marker {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 1.5rem;
}
.clock i,
.marker i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  font-size: 1.9rem;
  color: white;
  border-radius: 4rem;
  margin-right: 2rem;
  background-color: var(--accent-color);
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
}

.marker i {
  padding: 0.8rem 1rem;
}

.ads {
  height: 15rem;
  color: white;
  display: flex;
  align-items: center;
}
.ads p {
  margin: 0;
  font-size: 1.6rem;
}

.ads-ad {
  width: 92rem;
  height: 8.5rem;
  background-color: #f4ae13;
}
.img-spotlight {
  height: 69rem;
  width: 48.7rem;
  background-color: #838383;
}
.img-spotlight2 {
  height: 24.2rem;
  width: 18.5rem;
  background-color: #838383;
}
.img-spotlight2:first-child,
.img-spotlight2:last-child {
  margin: 0;
}
.carrosel {
  width: 60rem;
  background-color: #f4ae13;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.card-sl {
  display: flex;
  flex-direction: column;
}

.dots {
  align-self: flex-end;
  display: flex;
}

.card-sl {
  justify-self: end;
  align-self: flex-end;
  margin: 0;
}

.dot {
  padding: 8px 13px;
  border-radius: 50px;
  background-color: #838383;
  margin: 0 0.2rem;
}

.dot-active {
  padding: 8px;
  border-radius: 50px;
  background-color: #838383;
}
.dot-inner {
  padding: 5px;
  border-radius: 7px;
  background-color: #202020;
}

.numbers {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7.7rem;
  padding-bottom: 7.7rem;
}

.section {
  border-right: 1px solid #525252;
  padding-right: 4.8rem;
  margin-right: 4.8rem;
  text-align: center;
}

.section:last-child {
  margin-right: 0rem;
}

.number-spot {
  font-weight: bold;
  font-size: 7.5rem;
}

.number-text {
  font-weight: bold;
  font-size: 2.2rem;
}
.darks {
  background-color: #202020;
}

.ssxdd {
  width: 580px;
  background-color: #202020;
  height: 380px;
}

.presention {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.6rem;
}
.day-selection {
  align-self: flex-end;
}

.day-label {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.day-selection-input {
  color: white;
  background: transparent;
  border: none;
  margin-left: 1.8rem;
  font-size: 1.5rem;
  margin-right: 7rem;
}
.day-selection-input:last-child {
  margin-right: 0;
}

.program-box {
  width: 100%;
  display: flex;
  margin: 3rem 0;
  margin-bottom: 1.6rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--secondary-color);
}
.program-box-left {
  display: flex;
}
.program-box-right {
  display: flex;
}

.program-day {
  color: var(--accent-color);
  margin-right: 4.4rem;
}

.program-day > h4 {
  font-size: 2.8rem;
  margin: 0;
  font-weight: bold;
}

.program-day > h6 {
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}

.program-room {
  margin-right: 6.6rem;
}
.program-room > h4 {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
}
.program-room > p {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.program-description > h4 {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
}
.program-description > p {
  color: var(--secondary-color);
  font-size: 1.1rem;
  margin: 0;
  margin: 0.7rem 0;
}
.program-description > h6 {
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.speaker-img img:last-child {
  margin-left: 1.8rem;
}

.button-description {
  display: flex;
  align-items: center;
}

.button-description > button {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 10rem;
  font-weight: 500;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  padding: 1rem 2.4rem;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.patreons {
  padding: 7rem 0rem;
  text-align: center;
}
.gold-section > .title,
.silver-section > .title,
.bronze-section > .title {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.patreons-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9rem;
  flex-wrap: wrap;
}

.patreons-card {
  margin: 0 1rem;
  width: 339px;
  height: 189px;
  background: var(--secondary-color);
  margin-bottom: 3rem;
}

.spaced-card {
  margin: 0 6rem;
}

.patreons-card-silver {
  width: 270px;
  height: 150px;
  background: var(--secondary-color);
  margin: 0 1rem;
  margin-bottom: 3rem;
}

.patreons-card-bronze {
  width: 180px;
  margin: 0 1rem;
  margin-bottom: 3rem;
  height: 100px;
  background: var(--secondary-color);
}

.ask-holder {
  margin-top: 8rem;
}
.ask {
  width: 49rem;
}

.ask-box {
  height: 5rem;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.ask-box.active {
  border-left: 0.2rem solid var(--accent-color);
  margin-bottom: 0rem;
}

.ask-title {
  display: flex;
}

.ask-ask {
  width: 100%;
  justify-content: space-between !important;
  display: flex;
  align-items: center;
}

.ask-details {
  flex: 1;
  display: flex;
}

.ask-ask-title {
  font-size: 1.7rem;
  font-weight: bold;
}

.ask-number {
  font-size: 1.7rem;
  font-weight: bold;
  color: #727272;
  margin-right: 0.2rem;
}

.ask-dropdown-icon {
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.ask-dropdown-icon.active {
  color: var(--accent-color);
}

.response-title {
  color: var(--accent-color);
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0;
}
.response-title p {
  margin: 0;
  margin-bottom: 1rem;
}
.response-text {
  margin: 0;
  font-weight: 200;
  font-size: 1.5rem;
}

.ask-response {
  background-color: #f2f2f2;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 2rem;
  border-left: 0.2rem solid var(--accent-color);
}

.image-inbox {
  width: 200px;
  height: 200px;
  background-color: #202020;
  margin-right: 1.5rem;
}

.ticket {
  display: flex;
  margin-bottom: 3rem;
}

.tickets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0rem;
}

.contact-holder {
  width: 100%;
  margin-top: 6.8rem;
  display: flex;
}

.contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-box {
  height: 20%;
  width: 90%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.contact-content {
  background-color: #141414;
  width: 100%;
}

.contact-content h4,
.contact-content h6 {
  font-size: 1.4rem;
  margin-left: 1.8rem;
}

.contact-content h4 {
  margin: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.contact-content h6,
.contact-content i {
  margin-top: 0;
  color: var(--accent-color);
}

.icon-box {
  height: 100%;
  width: 15%;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.grid-title {
  width: 100%;
}

.contact-social i {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: var(--accent-color);
}

input::placeholder {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

input,
textarea {
  border: 1px solid var(--secondary-color);
  padding: 1.3rem 2.2rem;
  background: transparent;
}
input:active,
input:focus,
textarea:active,
textarea:focus {
  border: 1px solid var(--accent-color);
  padding: 1.3rem 2.2rem;
  background: transparent;
}

button {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem 3.3rem;
  background: var(--accent-color);
  border: none;
  color: #fff;
}
.banner {
  height: auto;
}

.parallax {
  display: flex;
  flex-direction: row;
  padding: 8rem 0;
}

.img {
  align-self: flex-end;
}

.section-holder {
  width: 100%;
  display: flex;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-row1 {
  width: 45%;
  margin-bottom: 3.6rem;
}

.input-row2 {
  width: 100%;
  margin-bottom: 3rem;
}

#video {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.img-sh {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.img-sh img {
  width: 100%;
  object-fit: cover;
}

#video-title {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 40%;
  }

  .contact-holder,
  .tickets,
  .program-box,
  .presention,
  .patreons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .patreons-card,
  .card-sl {
    width: 90%;
  }
  .card-sl {
    overflow-x: scroll;
  }
  .ask-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ask {
    width: 100%;
  }

  .contact,
  .contact-form {
    width: 100%;
  }

  #video {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #video-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .counter-section {
    flex-direction: column;
    padding: 5rem 0;
    text-align: center;
    height: auto;
    justify-content: center;
  }
  .w40,
  .w60,
  .w50,
  .w45 {
    width: 90%;
    text-align: center;
  }
  .count-holder {
    justify-content: center;
    margin-top: 5rem;
    font-size: 40%;
  }
  .head {
    flex-direction: column;
  }
  .ads {
    width: 100%;
  }
  .ads-ad {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .headline {
    flex-direction: column;
  }
  .headline-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .parallax {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .paralax-text p {
    text-align: center;
  }
  .rellax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headline-hero-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .description-text p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 10rem;
    color: var(--secondary-color);
    margin: 0;
    width: 100%;
    margin-bottom: 3.8rem;
  }
  .section-holder {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .card-sl {
    justify-self: center;
    align-self: center;
    margin: 0;
  }
  .img-spotlight {
    align-self: center;
  }
  .numbers {
    flex-direction: column;
    align-items: center;
  }

  .section {
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
    border: none;
  }

  #spot-logo {
    width: 100%;
  }

  #img {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 4rem;
  }

  #img-spotlight {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    margin-bottom: 8rem;
  }
  #text-spotlight {
    width: 100%;
  }
}
