@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --secondary-color: #838383;
  --accent-color: #f4ae13;
  --accent-color-dark: #f4ae13;
  --font-type-title: bold 4.2rem "Roboto";
}

* {
  font-family: "Roboto";
}

.banner {
  width: 100%;
  margin-top: -5px;
  height: 514px;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

.counter-section {
  width: 100%;
  height: 27rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w60 {
  width: 60%;
}
.w50 {
  width: 50%;
}
.w45 {
  width: 50%;
}

.p-1 {
  padding-right: 1rem !important;
}
.w40 {
  width: 40%;
}
.headline {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  letter-spacing: 7px;
  font-weight: 300;
  color: var(--secondary-color);
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.title {
  margin: 0;
  text-transform: uppercase;
  font: var(--font-type-title);
}

.spaced {
  margin-top: 6rem !important;
}

.count-holder {
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.count {
  padding-left: 3rem;
  border-left: 1px var(--secondary-color) solid;
  margin-right: 3rem;
}

.number {
  font-weight: bold;
  font-size: 3.7rem;
  color: var(--accent-color);
}
.number-description {
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hr {
  margin: 0;
  width: 8rem;
  margin-bottom: 1rem;
  border: 2px solid var(--accent-color);
}

.headline-text-light {
  font-weight: 200;
  margin-top: 0;
  font-size: 1.5rem;
}

.headline-text {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.headline-hero {
  width: 100%;
  color: white;
  justify-self: flex-start;
}
.headline-hero-dark {
  width: 100%;
  color: rgb(0, 0, 0);
  justify-self: flex-start;
}
.text-dark {
  color: black !important;
}

.headline-title {
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}

.carousel {
  display: flex;
}

.cards {
  width: 100%;
  width: 28.8rem;
  height: 40.7rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: 102%;
  background-position: center;
  display: flex;
  margin: auto 0.5rem;
  overflow: hidden;
  justify-content: center;
  transition: all 0.5s;
}

.card-overflow {
  width: 100%;
  height: 100%;
  display: flex;
}

.card-info {
  position: absolute;
  align-self: flex-end;
  color: #fff;
  z-index: 1;
  padding: 1rem 2rem;
  transition: 0.3s;
  transform: translateY(10%);
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}

.card-text {
  display: none;
  transition: all 0.5s;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.cards:hover {
  background-position-x: 10%;
  transition: all 0.5s;
}

.cards:hover .card-overflow {
  transition: all 0.5s;
  background: #0d0d0dc2;
}
.cards:hover .card-text {
  display: block;
  transform: translateY(0%);
  transition: all 0.5s;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

.cards:hover .card-info {
  transition: 0.3s;
  transform: translateY(0rem);
}

.cards:hover .card-name {
  transition: 0.3s;
  margin-bottom: 2rem;
}
.cards:hover .card-info .card-description,
.cards:hover .card-info .card-office {
  transition: 0.3s;
  opacity: 1;
}

.card-name {
  transition: 0.3s;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 2rem;
}

.card-description {
  margin: 0;
  opacity: 0;
  font-size: 1.2rem;
  transition: 0.3s;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.card-office {
  margin: 1rem 0;
  transition: 0.3s;
  opacity: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.paralax {
  color: white;
  background-color: #0d0d0d;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.paralax-text {
  margin-right: 1rem;
}
.paralax-text p {
  text-align: end;
  font-weight: 600;
  font-size: 1.5rem;
}
.paralax-title {
  margin-left: 0.5rem;
}
.paralax-title h6,
.paralax-title h3 {
  margin: 0;
}

.description-title-title {
  font-weight: bold;
  font-size: 2.2rem;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.description-title-accent {
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 3.8rem;
}

.description-text p {
  text-align: start;
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin: 0;
  width: 80%;
  margin-bottom: 3.8rem;
}

.clock,
.marker {
  display: flex;
  align-items: center;
  font-weight: 100;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.clock p,
.marker p {
  margin: 0;
}
.clock i,
.marker i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  font-size: 1.9rem;
  color: white;
  border-radius: 4rem;
  margin-right: 2rem;
  background-color: var(--accent-color);
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
}

.marker i {
  padding: 0.8rem 1rem;
}
.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0;
}

.contact-social {
  margin-bottom: 1rem;
}

.ads {
  height: 15rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}
.ads p {
  margin: 0;
  font-size: 1.6rem;
}

.ads-ad {
  width: 100%;
  height: 8.5rem;
  background-color: #f4ae13;
}

.img-spotlight {
  width: 80%;
  padding: 3rem;
  padding-top: 0;
}
.img-spotlight img {
  width: 100%;
  object-fit: cover;
}

.img-spotlight2 {
  height: 24.2rem;
  width: 18.5rem;
}
.img-spotlight2:first-child,
.img-spotlight2:last-child {
  margin: 0;
}
.carrosel {
  display: flex;
  justify-content: space-between;
}
.card-sl {
  display: flex;
  flex-direction: column;
}

.dots {
  align-self: flex-end;
  display: flex;
}

.card-sl {
  justify-self: end;
  align-self: flex-end;
  margin: 0;
}

.dot {
  padding: 8px 13px;
  border-radius: 50px;
  background-color: #838383;
  margin: 0 0.2rem;
}

.dot-active {
  padding: 8px;
  border-radius: 50px;
  background-color: #838383;
}
.dot-inner {
  padding: 5px;
  border-radius: 7px;
  background-color: #ffffff;
}

.numbers {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7.7rem;
  padding-bottom: 7.7rem;
}

.section {
  border-right: 1px solid #525252;
  padding-right: 4.8rem;
  margin-right: 4.8rem;
  text-align: center;
}

.section:last-child {
  margin-right: 0rem;
}

.number-spot {
  font-weight: bold;
  font-size: 7.5rem;
}

.number-text {
  font-weight: bold;
  font-size: 2.2rem;
}
.darks {
  background-color: #202020;
}

.ssxdd {
  width: 580px;
  background-color: #202020;
  height: 380px;
}

.presention {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.6rem;
}
.day-selection {
  align-self: flex-end;
}

.day-label {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.day-selection-input {
  color: white;
  background: transparent;
  border: none;
  margin-left: 1.8rem;
  font-size: 1.5rem;
  margin-right: 7rem;
}
.day-selection-input:last-child {
  margin-right: 0;
}

.program-box {
  width: 100%;
  display: flex;
  margin: 3rem 0;
  margin-bottom: 1.6rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--secondary-color);
}
.program-box-left {
  display: flex;
}
.program-box-right {
  display: flex;
}

.program-day {
  color: var(--accent-color);
  margin-right: 4.4rem;
}

.program-day > h4 {
  font-size: 2.8rem;
  margin: 0;
  font-weight: bold;
}

.program-day > h6 {
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}

.program-room {
  margin-right: 6.6rem;
}
.program-room > h4 {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
}
.program-room > p {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.program-description > h4 {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
}
.program-description > p {
  color: var(--secondary-color);
  font-size: 1.1rem;
  margin: 0;
  margin: 0.7rem 0;
}
.program-description > h6 {
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.speaker-img img:last-child {
  margin-left: 1.8rem;
}

.button-description {
  display: flex;
  align-items: center;
}

.button-description > button {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 10rem;
  font-weight: 500;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  padding: 1rem 2.4rem;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.patreons {
  padding: 7rem 0rem;
  padding-bottom: 0;
  text-align: center;
}
.gold-section > .title,
.silver-section > .title,
.bronze-section > .title {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.patreons-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9rem;
  flex-wrap: wrap;
}

.patreons-card {
  margin: 0 1rem;
  width: 300px !important;
  height: 189px;
  background: var(--secondary-color);
  margin-bottom: 3rem;
}

.spaced-card {
  margin: 0 6rem;
}

.patreons-card-silver {
  width: 270px;
  height: 150px;
  background: var(--secondary-color);
  margin: 0 1rem;
  margin-bottom: 3rem;
}

.patreons-card-bronze {
  width: 180px;
  margin: 0 1rem;
  margin-bottom: 3rem;
  height: 100px;
  background: var(--secondary-color);
}

.ask-holder {
  margin-top: 8rem;
}
.ask {
  width: 49rem;
  background: transparent;
}

.ask-box {
  height: 5rem;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
}

.ask.askactive .ask-box {
  transition: all 0.5s;
  border-left: 0.2rem solid var(--accent-color);
  margin-bottom: 0rem;
}

.ask-title {
  display: flex;
}

.ask-ask {
  width: 100%;
  justify-content: space-between !important;
  display: flex;
  align-items: center;
  background: transparent;
}

.ask-details {
  flex: 1;
  display: flex;
}

.ask-ask-title {
  font-size: 1.7rem;
  font-weight: bold;
}
.ask.askactive .ask-ask-title {
  font-size: 1.7rem;
  color: var(--accent-color);
  font-weight: bold;
}

.ask-number {
  font-size: 1.7rem;
  font-weight: bold;
  color: #727272;
  margin-right: 0.2rem;
}
.ask.askactive .ask-number {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--accent-color);
  margin-right: 0.2rem;
}

.ask-dropdown-icon {
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.ask.askactive .ask-dropdown-icon {
  color: var(--accent-color);
}

.response-title {
  color: var(--accent-color);
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0;
}
.response-title p {
  margin: 0;
  margin-bottom: 1rem;
}
.response-text {
  margin: 0;
  font-weight: 200;
  font-size: 1.5rem;
}

.ask-response {
  background-color: #f2f2f2;
  opacity: 0;
  height: 0;
  pointer-events: none;
  border-left: 0.2rem solid var(--accent-color);
  transition: all 0.5s;
}
.ask.askactive .ask-response {
  height: auto;
  transition: all 0.5s;
  opacity: 1;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 2rem;
  pointer-events: all;
  color: #0d0d0d;
}

.image-inbox {
  width: 200px;
  height: 200px;
  background-color: #202020;
  margin-right: 1.5rem;
}

.ticket {
  display: flex;
  margin-bottom: 3rem;
}

.tickets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0rem;
}

.contact-holder {
  width: 100%;
  margin-top: 6.8rem;
  display: flex;
}

.contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-box {
  height: 20%;
  width: 90%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.contact-content {
  background-color: #141414;
  width: 100%;
}

.contact-content h4,
.contact-content h6 {
  font-size: 1.4rem;
  margin-left: 1.8rem;
}

.contact-content h4 {
  margin: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.contact-content h6,
.contact-content i {
  margin-top: 0;
  color: var(--accent-color);
}

.icon-box {
  height: 100%;
  width: 18%;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.grid-title {
  width: 100%;
}

.contact-social i {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: var(--accent-color);
}

input::placeholder,
textarea::placeholder {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

input,
textarea {
  border: 1px solid var(--secondary-color);
  padding: 1.3rem 2.2rem;
  background: transparent;
}
input:active,
input:focus,
textarea:active,
textarea:focus {
  border: 1px solid var(--accent-color);
  padding: 1.3rem 2.2rem;
  background: transparent;
}

button {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem 3.3rem;
  background: var(--accent-color);
  border: none;
  color: #fff;
}
.banner {
  height: auto;
}

.parallax {
  display: flex;
  flex-direction: row;
  padding: 8rem 0;
}

#img {
  display: flex;
  align-items: center;
}

.img {
  align-self: flex-end;
}

.section-holder {
  width: 100%;
  display: flex;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row button {
  margin: auto;
}

.input-row1 {
  color: #fff;
  width: 45%;
  margin-bottom: 3.6rem;
}

.input-row2 {
  width: 100%;
  color: #fff;
  margin-bottom: 3rem;
}

.embed {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

#video {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.img-sh {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.img-sh img {
  width: 100%;
  object-fit: cover;
}

#video-title {
  width: 100%;
}

.tickets {
  margin: 0;
}

.ticket-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .number-spot {
    font-weight: bold;
    font-size: 4.5rem;
  }
  .section-holder {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #w50 {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #headline-hero {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #headline-hero .description-text p {
    text-align: center;
    width: 100%;
  }

  .card-sl {
    justify-self: center;
    align-self: center;
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 40%;
  }
  .row {
    margin: 0;
    width: 100%;
  }
  form {
    width: 100%;
  }
  p {
    padding: 0 !important;
  }

  .patreons .title {
    padding: 0 5rem;
  }

  .row button {
    margin-bottom: 2rem;
  }

  .contact-holder,
  .tickets,
  .program-box,
  .presention,
  .patreons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .patreons-card,
  .card-sl {
    width: 90%;
  }
  .card-sl {
    overflow-x: scroll;
  }
  .ask-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ask {
    width: 100%;
  }

  .contact,
  .contact-form {
    width: 100%;
  }

  #video {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #video-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .counter-section {
    flex-direction: column;
    padding: 5rem 0;
    text-align: center;
    height: auto;
    justify-content: center;
  }
  .w40,
  .w60,
  .w50,
  .w45 {
    width: 90%;
    text-align: center;
  }
  .count-holder {
    justify-content: center;
    margin-top: 5rem;
    font-size: 40%;
  }
  .head {
    flex-direction: column;
  }
  .ads {
    width: 100%;
  }
  .ads-ad {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .headline {
    flex-direction: column;
    align-items: center;
  }
  .headline-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .parallax {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .day-selection {
    align-self: center;
    margin-top: 3rem;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .paralax-text p {
    text-align: center;
  }
  .rellax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headline-hero-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .description-text p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 10rem;
    color: var(--secondary-color);
    margin: 0;
    width: 100%;
    margin-bottom: 3.8rem;
  }
  .section-holder {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .card-sl {
    justify-self: center;
    align-self: center;
    margin: 0;
  }
  .img-spotlight {
    align-self: center;
  }

  .section {
    border: none;
  }

  #spot-logo {
    width: 100%;
  }

  #img {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 4rem;
  }

  .input-row1,
  .input-row2 {
    color: #fff !important;
  }

  .img-spotlight {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: auto;
    margin-bottom: 8rem;
  }
  #text-spotlight {
    width: 100%;
  }

  .ticket {
    flex-direction: column;
    align-items: center;
  }
  .program-box {
    justify-self: center;
    justify-content: space-between;
    width: fit-content;
    width: -moz-fit-content !important;
  }
  .day-box-holder {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .numbers {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .contact-box {
    height: auto;
    width: 40rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .contact {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact {
    flex-wrap: wrap;
  }

  .card-sl {
    align-items: center;
  }
  .dots {
    align-self: center;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 636px) {
  .contact-box {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 45%;
  }
  .program-box-right {
    justify-self: center;
    justify-content: space-between;
    width: 100%;
  }
  .program-box {
    justify-self: center;
    justify-content: space-between;
    width: 100%;
  }

  .button-description > button {
    margin-left: 0;
  }
  .section {
    margin: 2rem;
    padding: 0;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 2.4rem;
  background-color: #00000048;
  cursor: pointer;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.sr-only {
  font-size: 1rem;
}

.glider {
  position: relative;
}

.glide-contorles {
  display: flex;
  justify-content: space-between;
  padding: 1rem !important;
  position: absolute;
  width: 100%;
  color: #fff;
}

.glide-contorles i {
  font-size: 2rem;
  padding: 1rem 1.4rem;
  background-color: #00000048;
  cursor: pointer;
}

.glide {
  position: relative;
  display: flex;
  align-items: center;
}

.glide__slide,
.glide__slide--active {
  width: min-content !important;
  margin: auto !important;
}

.img-spotlight2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-spotlight2 {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  align-items: center;
}

.spotlight-description {
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  transition: all 0.5s;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  margin: 0;
  background: #00000071;
}

.spotlight-description h4 {
  margin: 0;
}

.img-spotlight2:hover .spotlight-description h4 {
  margin-left: 0px;
}

.img-spotlight2:hover img {
  transition: all 0.5s;
  opacity: 1;
}
.img-spotlight2:hover .spotlight-description {
  background: #00000000;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  transition: all 0.5s;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
}

.carousel-indicators li {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
.glide__bullets button {
  background: #9c9c9c;
}

.glide__bullets button:focus {
  background: #616161;
}

#arrow-top {
  z-index: 8;
  background: #272727;
  padding: 1rem;
  position: fixed;
  right: 2%;
  bottom: 2%;
}

#arrow-top a {
  color: var(--accent-color);
  font-size: 2rem;
  text-decoration: none;
}

.carrosel-arrow {
  border: 2px solid #fff;
  border-radius: 5px;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner-mobile img {
  width: 100%;
  object-fit: cover;
}

.mobile-text-spotlight {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .banner,
  .banners .m9 {
    display: none;
  }
  .img-spotlight {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 426px) {
  .banner-mobile,
  .banners-mobile,
  .mobile-text-spotlight {
    display: none;
  }
}
