@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  --font-size-navbar: bold 1.3rem "Open Sans";
  --primary-color: #fff;
  --accent-color: #f4ae13;
  --accent-color-light: #ffd600;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans";
  outline-style: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
.body-grid {
  padding: 0;
  display: flex;
  justify-content: center;
}
.grid {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.navbar-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  height: 7.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  z-index: 999999;
}

.navbar-holder {
  max-width: 90%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-item {
  margin-right: 4rem;
  list-style: none;
  transition: 0.5s;
}
.navbar-item {
  padding: 0rem 2.2rem;
  margin: 1rem 0;
}
.navbar-item:first-child {
  font: bold 1.3rem "Open Sans";
  margin: 1rem 0;
  padding: 0.5rem 2.2rem;
  margin-right: 1rem;
}
.navbar-item:first-child:hover {
  color: #fff;
  background-color: #f4ae13;
}

.navbar-item a {
  font: bold 1.1rem "Open Sans";
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-brand {
  object-fit: contain;
  width: 4rem;
}
.navbar-brand img {
  object-fit: contain;
  width: 4rem;
}

.navbar-dropdown {
  margin-right: 4rem !important;
  list-style: none !important;
  font: bold 1.3rem "Open Sans" !important;
  text-transform: uppercase !important;
  color: var(--primary-color) !important;
  text-decoration: none !important;
  background-color: transparent;
  transition: 0.5s;
  padding: 0.5rem 2.2rem;
  border: none;
}

.navbar-dropdown a {
  text-decoration: none;
  color: #fff;
}

.navbar-dropdown:hover {
  transition: 0.5s;
  background: var(--accent-color);
}
.dropdown {
  list-style: none;
}
.dropdown > ul > li:first-child {
  padding: 0.2rem 2rem;
  margin: 0;
}

.dropdown > ul > li {
  margin: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  padding: 0.2rem 2rem;
}

.dropdown > ul > li:hover {
  color: #fff;
  background-color: var(--accent-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.dropdown ul {
  opacity: 0;
  display: flex;
  background: #202020;
  position: absolute;
  margin-top: 0.1rem;
  padding: 0 2rem;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateX(-3.6rem);
  -webkit-transform: translateX(-3.6rem);
  -moz-transform: translateX(-3.6rem);
  -ms-transform: translateX(-3.6rem);
  -o-transform: translateX(-3.6rem);
}

.dropdown:hover ul {
  opacity: 1;
  display: flex;
  background: #111;
  pointer-events: all;
  position: absolute;
  margin-top: 0.1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.5s ease;
}

.outline {
  border: var(--accent-color) 1px solid;
  width: 15rem;
  text-align: center;
  padding: 0.5rem 0rem;
  margin: 0;
  margin-right: 2rem;
}

.sidenav-item-outline {
  border: var(--accent-color) 1px solid !important;
  width: 98% !important;
  text-align: center;
  padding: 0.6rem 0.8rem 0.6rem 1rem !important;
  margin: auto;
  margin-top: 1rem;
}

.sidenav-item-full {
  border: var(--accent-color) 1px solid !important;
  background: var(--accent-color) !important;
  width: 98% !important;
  text-align: center;
  font-weight: bold;
  padding: 0.6rem 0.8rem 0.6rem 1rem !important;
  margin: auto;
  margin-top: 1rem;
}

.full {
  background: var(--accent-color-light);
  border: var(--accent-color-light) 1px solid;
  width: 150px;
  text-align: center;
  padding: 0.5rem 0rem;
  margin: 0;
  margin-right: 2rem;
}

.dark {
  background-color: #0d0d0d;
}

.w100 {
  width: 100%;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  margin: 0;
  margin-top: 5rem;
  background: #111;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--accent-color);
  margin: 0;
  text-align: center;
  padding: 2rem 2rem;
}

.loader {
  border: 16px solid #202020; /* Light grey */
  border-top: 16px solid #ffd000; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 999999999999999999999999999999999999;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-holder {
  position: fixed;
  z-index: 99999999999999999999999999999999999999999999;
  background-color: #0d0d0d;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finish {
  display: none;
}

.navbar-list-mobile {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5rem 0;
  height: 100%;
  text-align: center;
  background-color: #0d0d0d;
  position: absolute;
  top: 47px;
  width: 25%;
  align-items: center;
  z-index: 1;
  transition: all 0.5s;
  transform: translateX(-100%);
}

.navbar-list-mobile {
  z-index: 5;
  transition: all 0.5s;
  transform: translateX(0%);
}

.nav-icon {
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
  padding: 0;
  background-color: transparent;
  outline: none !important;
}

@media screen and (min-width: 1000px) {
  .navbar-list-mobile {
    display: none;
  }
  .nav-icon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .navbar-list-mobile {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .grid {
    width: 80%;
  }
  .w50,
  .w60,
  .w40 {
    width: 100%;
  }
  .navbar-list {
    display: none;
  }
}

.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.54;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding-left: 2.22rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: rgba(241, 245, 248, 0);
  transition: background 250ms;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: rgba(241, 245, 248, 0);
  transition: background 250ms;
  border: 1px solid rgba(255, 255, 255, 1);
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.45rem;
  top: 0.18rem;
  width: 0.25rem;
  height: 0.6rem;
  margin-right: 5rem;
  border: solid rgba(255, 255, 255, 1);
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.25rem;
  top: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;

  background: rgba(255, 255, 255, 1);
  transition: background 250ms;
}

.b-contain input:disabled ~ .b-input::after {
  border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
  background: rgba(255, 188, 41, 0.04);
}

.b-contain input:focus ~ .b-input {
  box-shadow: 0 0 0 2px rgba(198, 136, 6, 1);
}

.b-contain input:checked ~ .b-input {
  background: rgba(244, 174, 19, 1);
  border-color: rgba(244, 174, 19, 1);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
  background: rgba(241, 245, 248, 1);
  border-color: rgba(184, 194, 204, 1);
  opacity: 0.6;
  cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input {
  background: rgba(241, 245, 248, 1);
  border-color: rgba(184, 194, 204, 1);
  opacity: 0.6;
  cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
  background: rgba(135, 149, 161, 1);
}

.b-contain input:checked:focus ~ .b-input,
.b-contain:hover input:not([disabled]):checked ~ .b-input {
  background: rgba(255, 188, 41, 1);
  border-color: rgba(244, 174, 19, 1);
}

.b-contain .b-input::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  margin-left: -0.85rem;
  margin-top: -0.85rem;
  background: rgba(244, 174, 19, 1);
  border-radius: 2rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@keyframes b-ripple {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes b-ripple-duplicate {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.b-contain input + .b-input::before {
  animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
  animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before {
  visibility: hidden;
}

.b-contain input:focus + .b-input::before {
  visibility: visible;
}

.b-contain:first-child .b-input::before {
  visibility: hidden;
}

.sidenav::-webkit-scrollbar {
  opacity: 0;
}

@-moz-document url-prefix() {
  /* Disable scrollbar Firefox */
  .sidenav {
    scrollbar-width: none;
  }
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 30rem;
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #31343c;
  overflow-x: hidden;
  padding: 0 2rem;
  padding-top: 3rem;
  transition: all 0.5s;
  margin-top: 6rem;
  transform: translateX(-100%);
}

.sidenav img {
  object-fit: contain;
  margin-bottom: 2rem;
}
.sidenav ul li {
  list-style: none;
}

.close-bbtn {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.close-bbtn i {
  font-size: 2rem;
  color: var(--accent-color);
  cursor: pointer;
}

.sidenav.activeS {
  transition: all 0.5s;
  transform: translateX(0);
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.8rem;
  color: #dbdbdb;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: var(--accent-color);
  color: white;
  border: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  outline: none !important;
}

.dropdown-container ul {
  padding: 0;
  margin: 0;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.modal-content {
  background: #0d0d0d;
  color: white;
  border: none;
}

.modal-body {
  padding: 2rem 5rem;
}

.modal-title,
.speaker-modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.modal-title h6,
.speaker-modal-title h6 {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
  margin-right: 1rem;
}
.modal-title hr,
.speaker-modal-title hr {
  margin: 0;
  width: 85%;
  border: 1px solid #202020;
}

#close-button {
  background-color: var(--accent-color);
  position: relative;
  right: 0;
  padding: 0.2rem 0.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.desc-modal {
  font-weight: 400;
  font-size: 1.2rem;
}
.desc-modal h4 {
  font-weight: 300;
  font-size: 1.6rem;
}

.desc-modal span {
  color: var(--accent-color);
}

.day-modal {
  display: flex;
  margin-bottom: 1.4rem;
  align-items: center;
}

.day-day-modal p {
  font-size: 1.2rem;
}

.day-day-modal p,
.day-date-modal p {
  margin: 0;
}

.day-date-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 1.2rem;
}
.day-date-modal .spot {
  font-family: 1.2rem;
  color: var(--accent-color);
}

.day-day-modal {
  padding: 0 0.5rem;
  margin-right: 1rem;
  text-transform: lowercase;
  color: var(--accent-color);
  text-align: center;
}
.day-day-modal p strong {
  font-size: 2.8rem;
}
.day-day-modal p {
  font-size: 1rem;
}

.speaker-modal-modal {
  display: flex;
}

.speaker-modal-modal {
  width: fit-content;
  width: -moz-fit-content !important;
  object-fit: cover;
}
.speaker-modal-modal h6 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.speaker-modal-modal p {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 400;
  color: var(--accent-color);
}
.speaker-modal-modal img {
  margin-right: 2rem;
}

.img-spotlight {
  padding: 1rem;
}
#image-selected {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
