@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  --font-size-navbar: bold 1.3rem "Open Sans";
  --primary-color: #fff;
  --accent-color: #f4ae13;
  --accent-color-light: #ffd600;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
.body-grid {
  padding: 0;
  display: flex;
  justify-content: center;
}
.grid {
  max-width: 1210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.navbar-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  height: 7.4rem;
  display: flex;
  justify-content: center;
  background-color: #0d0d0d;
  z-index: 3;
}

.navbar-holder {
  max-width: 90%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-item {
  margin-right: 4rem;
  list-style: none;
}

.navbar-item a {
  font: bold 1.3rem "Open Sans";
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-brand {
  object-fit: contain;
  max-width: 39px;
  width: 5%;
}

.navbar-dropdown {
  margin-right: 4rem !important;
  list-style: none !important;
  font: bold 1.3rem "Open Sans" !important;
  text-transform: uppercase !important;
  color: var(--primary-color) !important;
  text-decoration: none !important;
  background-color: transparent;
  border: none;
}
.dropdown > ul > li {
  margin: 1rem 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.dropdown > ul > li:hover a {
  color: #f4ae13;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.dropdown ul {
  opacity: 0;
  display: flex;
  background: #202020;
  position: absolute;
  margin-top: 0.1rem;
  padding: 2rem;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.5s ease;
  opacity: 0;
}

.dropdown:hover ul {
  opacity: 1;
  display: flex;
  background: #111;
  pointer-events: all;
  position: absolute;
  margin-top: 0.1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.5s ease;
}

.outline {
  border: var(--accent-color) 1px solid;
  width: 150px;
  text-align: center;
  padding: 0.5rem 0rem;
  margin: 0;
  margin-right: 2rem;
}

.full {
  background: var(--accent-color-light);
  border: var(--accent-color-light) 1px solid;
  width: 150px;
  text-align: center;
  padding: 0.5rem 0rem;
  margin: 0;
  margin-right: 2rem;
}

::-webkit-scrollbar {
  background-color: #0d0d0d;
}
::-webkit-scrollbar-button {
  background-color: #202020;
}
::-webkit-scrollbar-track-piece {
  background-color: rgb(31, 31, 31);
}
::-webkit-scrollbar-thumb {
  background-color: #ffd600;
}

.dark {
  background-color: #0d0d0d;
}

.w100 {
  width: 100%;
}

.footer {
  background: #111;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--accent-color);
  margin: 0;
}

.loader {
  border: 16px solid #202020; /* Light grey */
  border-top: 16px solid #ffd600; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-holder {
  position: fixed;
  z-index: 10;
  background-color: #0d0d0d;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finish {
  display: none;
}

@media screen and (max-width: 1000px) {
  .grid {
    width: 80%;
  }
  .w50,
  .w60,
  .w40 {
    width: 100%;
  }
  .navbar-list {
    display: none;
  }
  .navbar-brand {
    width: 4%;
  }
}
